<!-- блок - как пользоваться -->
<div class="container">
    <div class="row"><div class="col-12 sub-header"><h2>Как пользоваться</h2></div></div>
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="elemet-card"> 
          <div class="img-wrap"><img src="../static/img/ico/login.svg" alt=""></div>
          <span class="elemet-card_number">1</span>
          <h4>Lorem ipsum dolor sit amet.</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem voluptatum provident accusantium tempora obcaecati ex voluptate nam reiciendis quibusdam laudantium?</p>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="elemet-card"> 
          <div class="img-wrap"><img src="../static/img/ico/open.svg" alt=""></div>
          <span class="elemet-card_number">2</span>
          <h4>Lorem ipsum dolor sit amet.</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem voluptatum provident accusantium tempora obcaecati ex voluptate nam reiciendis quibusdam laudantium?</p>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="elemet-card"> 
          <div class="img-wrap"><img src="../static/img/ico/film.svg" alt=""></div>
          <span class="elemet-card_number">3</span>
          <h4>Lorem ipsum dolor sit amet.</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem voluptatum provident accusantium tempora obcaecati ex voluptate nam reiciendis quibusdam laudantium?</p>
        </div>
      </div>
    </div>
    <div class="row"> <div class="col ctr"><button class="btn btn-info"> Регистрация</button></div></div>
  </div>
  
  <hr>