<div class="container">
    <div class="row">
      <div class="col">
        <div class="main-slider">
          <div class="slider__item">
            <div class="slid-block-wrapper">
              <div class="row">
                <div class="col col-md-4">
                  <div class="img-wrap"><img src="../static/img/png4k/approved.png" alt=""></div>
                </div>
                <div class="col col-md-8">
                  <h2>Lorem, ipsum dolor.</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit aut adipisci cupiditate dolorem accusamus repellat, nesciunt id blanditiis dolores quod, deserunt error sit amet impedit repudiandae maiores, fuga eos cum non autem voluptatibus! Dignissimos quo officiis nobis ducimus veniam eum.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="slider__item">
            <div class="slid-block-wrapper">
              <div class="row">
                <div class="col col-md-4">
                  <div class="img-wrap"><img src="../static/img/png4k/chack.png" alt=""></div>
                </div>
                <div class="col col-md-8">
                  <h2>Lorem, ipsum dolor.</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit aut adipisci cupiditate dolorem accusamus repellat, nesciunt id blanditiis dolores quod, deserunt error sit amet impedit repudiandae maiores, fuga eos cum non autem voluptatibus! Dignissimos quo officiis nobis ducimus veniam eum.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="slider__item">
            <div class="slid-block-wrapper">
              <div class="row">
                <div class="col col-md-4">
                  <div class="img-wrap"><img src="../static/img/png4k/chart.png" alt=""></div>
                </div>
                <div class="col col-md-8">
                  <h2>Lorem, ipsum dolor.</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit aut adipisci cupiditate dolorem accusamus repellat, nesciunt id blanditiis dolores quod, deserunt error sit amet impedit repudiandae maiores, fuga eos cum non autem voluptatibus! Dignissimos quo officiis nobis ducimus veniam eum.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr>