<!-- тарифы -->
<div class="container">
    <div class="row"><div class="col-12 sub-header"><h2>Тарифы</h2></div></div>
    <div class="row">
      <div class="col-12 col-md-3">
        <div class="elemet-card"> 
          <div class="img-wrap"><img src="../static/img/ico/film.svg" alt=""></div>
          <span>Lorem ipsum dolor sit amet.</span>
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div class="elemet-card"> 
          <div class="img-wrap"><img src="../static/img/ico/film.svg" alt=""></div>
          <span>Lorem ipsum dolor sit amet.</span>
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div class="elemet-card"> 
          <div class="img-wrap"><img src="../static/img/ico/film.svg" alt=""></div>
          <span>Lorem ipsum dolor sit amet.</span>
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div class="elemet-card"> 
          <div class="img-wrap"><img src="../static/img/ico/film.svg" alt=""></div>
          <span >Lorem ipsum dolor sit amet.</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col ctr">
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
      </div>
    </div>
    <div class="row">
      <div class="col ctr">
        <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non ullam aliquid possimus ex, quam voluptatem repellendus laboriosam!</h5>
      </div>
    </div>
  </div>
  
<hr>