<!DOCTYPE html>
<html lang="en">
{% include 'chunks/head.html' %} <!--head-шаблон сайта-->

<body>

{% include 'chunks/header.html' %} <!--шаблон шапки сайта-->

{% include 'chunks/blocks/main-slider.html' %} <!--слайдер-->

{% include 'chunks/blocks/how-to-use.html' %} <!--блок - как пользоваться-->

{% include 'chunks/blocks/tariffs.html' %}<!-- тарифы -->

{% include 'chunks/blocks/map.html' %}<!-- map -->

{% include 'chunks/footer.html' %} <!--шаблон подвала сайта-->
<script>
  window.onload = function () {
    document.body.classList.add('loaded_hiding');
    window.setTimeout(function () {
      document.body.classList.add('loaded');
      document.body.classList.remove('loaded_hiding');
    }, 500);
  }
</script>
</body>
</html>
