<!DOCTYPE html>
<html lang="en">

{% include 'chunks/head.html' %} <!--head-шаблон сайта-->

{% include 'chunks/header.html' %} <!--шаблон шапки сайта-->
<body>
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1> profile </h1>

<h2> Тут будут функции доступные залогиненым пользователям! </h2>
        </div>
    </div>
</div>


{% include 'chunks/blocks/tariffs.html' %}<!-- тарифы -->

{% include 'chunks/blocks/map.html' %}<!-- map -->

{% endblock %}
</body>
{% include 'chunks/footer.html' %} <!--шаблон подвала сайта-->
</html>