<footer>
<div class="container">
  <div class="row">
    <div class="col">
      <a href="/profile">Профиль</a>
    </div>
    <div class="col">
      <a href="/auth">Войти</a>
    </div>
    <div class="col"></div>
    <div class="col"></div>
  </div>
</div>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="../static/js/slick.min.js"></script>
<script src="../static/js/main-slick.js"></script>


<script>
  function openNav() {
    document.getElementById("mySidenav").style.right = "0";
  }
  
  function closeNav() {
    document.getElementById("mySidenav").style.right = "-250px";
  }
</script>
<script>
window.onload = function () {
  document.body.classList.add('loaded_hiding');
  window.setTimeout(function () {
    document.body.classList.add('loaded');
    document.body.classList.remove('loaded_hiding');
  }, 500);
}
</script>