<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WEB ACCESS</title>
    <link rel="shortcut icon" href="../static/img/ico/fi.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" >
    <link rel="stylesheet" href="../static/css/style.css" >
    <link rel="stylesheet" href="../static/css/add-style.css" >
    <link rel="stylesheet" href="../static/awesome-font/css/font-awesome.min.css" >
</head>